/* input font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* default variable  */
:root {
	--color-primary: #7380ec;
	--color-danger: #ff7782;
	--color-success: #41f1b6;
	--color-warning: #ffcc00;
	--color-info-light: #dce1eb;
	--color-info-dark: #7d8da1;
	--color-light: rgba(132, 139, 200, 0.18);
	--color-dark: #343a40;
	--color-white: #fff;
	--color-black: #000;
	--color-primary-variant: #111e88;
	--color-dark-variant: #677483;
	--color-background: #f6f6f9;

	--card-border-radius: 2rem;
	--border-radius-3: 0.4rem;
	--border-radius-2: 0.8rem;
	--border-radius-1: 1.2rem;

	--card-padding: 1.8rem;
	--padding: 1.2rem;
	--margin-top: 1.8rem;

	--box-shadow: 0 0.3rem 1rem var(--color-light);
}
/* global setting */
* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	appearance: none;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	font-size: 14px;
}

body {
	width: 100vw;
	height: 100vh;
	background: var(--color-background);
	font-size: 0.88rem;
	user-select: none;
	overflow: hidden;
}

a {
	color: var(--color-dark);
}

p {
	color: var(--color-dark-variant);
}

b {
	color: var(--color-dark);
}

h1 {
	font-weight: 800;
	font-size: 1.8rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 0.88rem;
}

h4 {
	font-size: 0.8rem;
}

h5 {
	font-size: 0.77rem;
}

img {
	display: block;
	width: 100%;
}
h1 > span {
	color: red;
}

small {
	font-size: 0.75rem;
}

.primary {
	color: var(--color-primary);
}
.danger {
	color: var(--color-danger);
}
.success {
	color: var(--color-success);
}
.warning {
	color: var(--color-warning);
}

.profile-photo {
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 50%;
	overflow: hidden;
}

.text-muted {
	color: var(--color-info-dark);
}

.container {
	display: grid;
	width: 96%;
	margin: 0 auto;
	grid-template-columns: 18rem auto 24rem;
	gap: 1.8rem;
}

aside {
	height: 100vh;
	background: var(--color-background);
}

aside .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	margin-top: var(--margin-top);
}

aside .logo img {
	width: 3rem;
	height: 3rem;
}
aside .top .logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-left: 28px;
}

aside .close {
	display: none;
}

/* sidebar */

aside .sidebar {
	display: flex;
	background-color: white;
	flex-direction: column;
	height: 86vh;
	position: relative;
	top: 3rem;
}

aside .sidebar h3 {
	font-weight: 500;
}

aside .sidebar a {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: var(--color-info-dark);
	position: relative;
	margin-left: 2rem;
	line-height: 3.7rem;
	transition: all 300ms ease;
}

aside .sidebar a span {
	font-size: 1.6rem;
	transition: all 300ms ease;
}

aside .sidebar a:last-child {
	position: absolute;
	bottom: 2rem;
	width: 100%;
}

aside .sidebar a.active {
	background-color: var(--color-light);
	color: var(--color-primary);
	margin: 0;
}
aside .sidebar a:hover {
	color: var(--color-primary);
}
aside .sidebar a.active::before {
	content: '';
	width: 6px;
	height: 100%;
	background-color: var(--color-primary);
}

aside .sidebar a:hover > span {
	margin-left: 1rem;
}
aside .sidebar a.active > span {
	color: var(--color-primary);
	margin-left: calc(1rem - 3px);
}

aside .sidebar .message-count {
	background: var(--color-danger);
	color: var(--color-white);
	padding: 2px 10px;
	font-size: 12px;
	margin-left: 10px;
	border-radius: var(--border-radius-3);
}

/* end sidebar */

/* main section start css style */
main {
	margin-top: var(--margin-top);
}

main .insights {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
}

main .insights > div {
	background-color: var(--color-white);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	box-shadow: var(--box-shadow);
	margin-top: 1rem;
}
main .insights > div:hover {
	box-shadow: none;
}
main .insights > div span {
	background: var(--color-primary);
	padding: 0.5rem;
	border-radius: 50%;
	color: var(--color-white);
	font-size: 2rem;
}
main .insights .expenses > span {
	background-color: var(--color-danger);
}
main .insights .income > span {
	background-color: var(--color-success);
}

main .date {
	display: inline-block;
	background-color: var(--color-light);
	border-radius: var(--border-radius-3);
	margin-top: 1rem;
	padding: 0.5rem 1.6rem;
}

main .date > input {
	background: transparent;
	color: var(--color-dark);
}

main .insights > div .middle {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main .insights .progress svg {
	background-color: transparent;
	width: 7rem;
	height: 7rem;
}

main .insights .progress circle {
	stroke-width: 14px;
	transform: translate(10px, 10px);
}
main .insights .progress circle:last-child {
	fill: none;
	stroke: var(--color-primary);
	stroke-linecap: round;
	stroke-dasharray: 226.19 226.19;
}

main .insights .sales svg circle:last-child {
	stroke-dasharray: 180;
}
main .insights .expenses svg circle:last-child {
	stroke-dasharray: 120;
}
main .insights .income svg circle:last-child {
	stroke-dasharray: 100;
}

main .progress {
	position: relative;
}
main .progress .number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

main .insights small {
	margin-top: 1.3rem;
	display: block;
}
/* main section end css style */

/* recent orders section css start */

main .recent-orders {
	margin-top: 2rem;
}
main .recent-orders h2 {
	margin-bottom: 1rem;
}

main .recent-orders table {
	width: 100%;
	border-radius: var(--border-radius-1);
	background-color: var(--color-white);
	padding: var(--card-padding);
	text-align: center;
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}

main .recent-orders table:hover {
	box-shadow: none;
}

main table tbody td {
	height: 2.8rem;
	border-bottom: 1px solid var(--color-light);
	color: var(--color-dark-variant);
}
main table tbody tr:last-child td {
	border: none;
}

main .recent-orders a {
	color: var(--color-primary);
	display: block;
	margin: 1rem auto;
	text-align: center;
}

/* recent orders section css end */

/* right section css start */

.container > .right {
	margin-top: var(--margin-top);
}

#menu-btn {
	display: none;
}

.right .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right .top .profile {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	text-align: right;
}

.right .top .theme-toggler {
	display: flex;
	width: 4.5rem;
	height: 2.4rem;
	padding: 3px;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-light);
	border-radius: var(--border-radius-1);
	cursor: pointer;
}

.right .theme-toggler span.active {
	background-color: var(--color-primary);
	color: var(--color-white);
	border-radius: var(--border-radius-1);
	padding: 2px 4px;
}

/* right section css end */

/* recently updated css start */

.right .recent-updates {
	margin-top: 1rem;
}

.right .recent-updates h2 {
	margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
	background-color: var(--color-white);
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}

.right .recent-updates .update {
	display: grid;
	grid-template-columns: 3rem auto;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.right .recent-updates .updates:hover {
	box-shadow: none;
}
/* recently updated css end */

/* sales analytics css start */

.right .sales-analytics {
	margin-top: 2rem;
}
.right .sales-analytics > h2 {
	margin-bottom: 0.8rem;
}
.right .sales-analytics .item {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 1.4rem;
	margin-bottom: 0.8rem;
	background-color: var(--color-white);
	border-radius: var(--border-radius-1);
}
.right .sales-analytics .item > .right {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.right .sales-analytics .item > .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-primary);
	color: var(--color-white);
	padding: 0.6rem;
	border-radius: 50%;
}
.right .sales-analytics .item.offline .icon {
	background-color: var(--color-danger);
}
.right .sales-analytics .item.customers .icon {
	background-color: var(--color-success);
}
.right .sales-analytics .add-product {
	justify-content: center;
	align-items: center;
	background: transparent;
	border: 2px dashed var(--color-primary);
}
.right .sales-analytics .add-product > div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
/* sales analytics css end */

/* media query */
